/* 
    Marco Belley;
    matricola:805185;
    
    movie.css esercizio 02;

*/
body{
    background-image: url(http://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/background.png);
    font-size: 8pt;
    font-family: Verdana, Thaoma, sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-family: Thaoma, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 3px 3px  #999999;
    text-align: center;
}
ul{
    list-style: none;
    padding-left: 0;
}
dt{
    font-weight: bold;
    margin-top: 10pt;
}
.percentuale{
    color: red;
    font-size: 48pt;
    height: 83px;
    background-image: url(http://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/rbg.png);
}
.percentuale span{
    position: absolute;
    font-weight: bold;
}
#titolo{
    background-image: url(http://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/bannerbg.png);
    text-align: center;
    height: 50px;
}
.sezcent{
    margin: auto;
    width: 800px;
    border: 4px solid #999999;
    border-radius: 20px;
    overflow: hidden;
}
.sezdx{
    float: right;
    clear: right;
    width: 250px;
    background-color:#A2B964; 
}
.testodx{
    padding-left: 10pt;
}
.testodx dt{
    font-weight: bold;
    padding-top: 10pt;
}
.sezsx{
    width: 550px;
    padding: 1pt;
}
.box{
    padding: 8px;
    border: 2px solid #999999;
    border-radius: 10px;
    background-color: #E8DC9B ; 
    font-weight: bold;
    font-size: 8pt;
    min-height: 25px;
}
.box img{
    padding-right:5px;
    float: left;

}
.utente{

    font-style: italic;
    padding-top: 10px;
    min-height: 40px;

}
.utente img{
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}
.colonna{
    float: left;
    padding-left: 2%;
    width: 47%;
}
#footer{
    clear: both;
    position: static;
    bottom: 0;
    padding:5px;
    margin: 0;
    text-align: center;
    background-color:#A2B964; 
}
#validatori{
    position:fixed;
    bottom: 8px;
    right: 0;
    opacity: 0.5;
}